using System;
using Microsoft.Extensions.DependencyInjection;
using {{packageName}}.{{apiPackage}};

namespace {{packageName}}.{{clientPackage}}
{
    /// <summary>
    /// An IApiFactory interface
    /// </summary>
    {{>visibility}} interface {{interfacePrefix}}ApiFactory
    {
        /// <summary>
        /// A method to create an {{interfacePrefix}}Api of type IResult
        /// </summary>
        /// <typeparam name="IResult"></typeparam>
        /// <returns></returns>
        IResult Create<IResult>() where IResult : {{interfacePrefix}}{{classPrefix}}Api;
    }

    /// <summary>
    /// An ApiFactory
    /// </summary>
    {{>visibility}} class ApiFactory : {{interfacePrefix}}ApiFactory
    {
        /// <summary>
        /// The service provider
        /// </summary>
        public IServiceProvider Services { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ApiFactory"/> class.
        /// </summary>
        /// <param name="services"></param>
        public ApiFactory(IServiceProvider services)
        {
            Services = services;
        }

        /// <summary>
        /// A method to create an IApi of type IResult
        /// </summary>
        /// <typeparam name="IResult"></typeparam>
        /// <returns></returns>
        public IResult Create<IResult>() where IResult : {{interfacePrefix}}{{classPrefix}}Api
        {
            return Services.GetRequiredService<IResult>();
        }
    }
}
